* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  font-family: Tahoma, sans-serif;
  color: #000000;
  width: 80%;
  margin: auto;
  gap: 20px;
  padding-top: 20px;
  font-size: 24px;
  text-align: center;
}
#survey-form {
  display: flex;
  width: 90%;
  gap: 25px;
  flex-direction: column;
  padding-top: 20px;
  background-color: rgb(0, 255, 76);
  color: #000000;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 7px;
  font-size: 24px;
}

fieldset {
  /* border: none; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 20px;
  text-align: center;
}

.data-user label {
  display: block;
  margin: 10px auto;
}

.data-user input {
  display: block;
  margin: 5px auto;
  font-size: 20px;
}

.dropdown-option {
  display: block;
  margin: 10px auto;
}
.dropdown-option select {
  display: block;
  font-size: 20px;
  border-radius: 4px;
  margin: 5px auto;
}

.radio-fieldset {
    flex-direction: row;
    justify-content: center;
    padding: 0 20px;
    gap: 10px;
}
.radio-fieldset input {
    margin: 7px 10px;
}

.check-fieldset {
    display: grid;
    justify-content: center;
    width: 0 auto;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            240px,
            1rem
        )
    );
}
.check-label{
    display: inline-flex;
    margin: 10px auto;
    border: 2px solid #000000;
    border-radius: 4px;
    padding: 5px;
    width: 154px;
}
.check-fieldset input{
    margin: 5px 7px;
}

.usertext-fildset{
  display: flex;
}
.usertext-textarea{
  margin: 12px auto;
  resize: none;
  font-size: 20px;
}

.submit-input{
  margin: 20px auto;
  padding: 5px 20px;
  font-size: 27px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.res-span {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
